/src/vs-template/WebApplicationWithFirebird/WebApplicationWithFirebird/bin/Debug/ProjectTemplates/AspNetWebApplicationWithFirebird.zip
/src/vs-template/WebApplicationWithFirebird/WebApplicationWithFirebird/bin/Debug/WebApplicationWithFirebird - Copy.zip
/src/vs-template/WebApplicationWithFirebird/WebApplicationWithFirebird/bin/Debug/WebApplicationWithFirebird - Copy/ProjectTemplates/AspNetWebApplicationWithFirebird.zip
/src/vs-template/WebApplicationWithFirebird/WebApplicationWithFirebird/bin/Debug/WebApplicationWithFirebird - Copy/\[Content_Types\].xml
/src/vs-template/WebApplicationWithFirebird/WebApplicationWithFirebird/bin/Debug/WebApplicationWithFirebird - Copy/extension.vsixmanifest
/src/vs-template/WebApplicationWithFirebird/WebApplicationWithFirebird/bin/Debug/WebApplicationWithFirebird-1.1.vsix
/src/vs-template/WebApplicationWithFirebird/WebApplicationWithFirebird/bin/Debug/extension.vsixmanifest
/src/vs-template/WebApplicationWithFirebird/WebApplicationWithFirebird/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/vs-template/WebApplicationWithFirebird/WebApplicationWithFirebird/obj/Debug/WebApplicationWithFirebird.csproj.FileListAbsolute.txt
/src/vs-template/WebApplicationWithFirebird/WebApplicationWithFirebird/obj/Debug/WebApplicationWithFirebird.csproj.VsixDeployedFileListAbsolute.txt
/src/vs-template/WebApplicationWithFirebird/WebApplicationWithFirebird/obj/Debug/WebApplicationWithFirebird.dll
/src/vs-template/WebApplicationWithFirebird/WebApplicationWithFirebird/obj/Debug/WebApplicationWithFirebird.pdb
/src/vs-template/WebApplicationWithFirebird/WebApplicationWithFirebird/obj/Debug/extension.vsixmanifest
/src/sample/AspNetWebApplicationWithFirebirdTest/AspNetWebApplicationWithFirebirdTest/bin/AspNetWebApplicationWithFirebirdTest.dll
/src/sample/AspNetWebApplicationWithFirebirdTest/AspNetWebApplicationWithFirebirdTest/bin/AspNetWebApplicationWithFirebirdTest.pdb
/src/sample/AspNetWebApplicationWithFirebirdTest/AspNetWebApplicationWithFirebirdTest/bin/FirebirdSql.Web.Providers.dll
/src/sample/AspNetWebApplicationWithFirebirdTest/AspNetWebApplicationWithFirebirdTest/obj/Debug/AspNetWebApplicationWithFirebirdTest.csproj.FileListAbsolute.txt
/src/sample/AspNetWebApplicationWithFirebirdTest/AspNetWebApplicationWithFirebirdTest/obj/Debug/AspNetWebApplicationWithFirebirdTest.dll
/src/sample/AspNetWebApplicationWithFirebirdTest/AspNetWebApplicationWithFirebirdTest/obj/Debug/AspNetWebApplicationWithFirebirdTest.pdb
/src/sample/AspNetWebApplicationWithFirebirdTest/AspNetWebApplicationWithFirebirdTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/sample/AspNetWebApplicationWithFirebirdTest/AspNetWebApplicationWithFirebirdTest/obj/Debug/ResolveAssemblyReference.cache
